<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.db.civil" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".api.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/log"
        android:label="每日建筑"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:label" >
        <activity
            android:name=".MainActivity"
            android:label="每日建筑"
            android:theme="@style/MaterialNavigationDrawerTheme.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".activity.WelcomeActivity"
            android:label="每日建筑"
            android:theme="@style/MaterialNavigationDrawerTheme.Light.DarkActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ArticleDetailActivity"
            android:label="每日建筑" >
        </activity>
        <activity
            android:name=".activity.SubscribeActivity"
            android:label="每日建筑" >
        </activity>
        <activity
            android:name=".activity.RuleDetailActivity"
            android:label="每日建筑" >
        </activity>
        <activity
            android:name=".activity.RuleItemActivity"
            android:label="每日建筑" >
        </activity>
        <activity
            android:name=".activity.SoftDetailsActivity"
            android:label="每日建筑" >
        </activity>
        <activity
            android:name=".activity.SoftWareItemActivity"
            android:label="每日建筑" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".activity.Aboutactivity"
            android:label="@string/title_activity_aboutactivity" >
        </activity>
        <activity
            android:name=".activity.FeedBackActivity"
            android:label="@string/title_activity_feed_back" >
        </activity>
        <activity
            android:name=".activity.CommentActivity"
            android:label="@string/title_activity_comment" >
        </activity>
        <activity
            android:name=".activity.NewsDetailsCAtivity"
            android:label="@string/title_activity_news_details_cativity" >
        </activity>
    </application>

</manifest>
